* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h2 {
    margin: 15px 0px 10px 0px;
}

.main-content p {
    margin-left: 15px;
}

nav {
    background: #35424a;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    margin: 0 10px;
}

.main-content {
    display: flex;
    
    width: 70%;
    margin: auto; /* 確保 .main-content 在父元素中居中 */
    flex-basis: 10vw;
    flex: 1;
}

.main-content > div {
    margin: 20px;
}

.aside {
    background: #ffffff;
    
    padding: 20px;
    text-align: center;
    flex: 1;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.aside p {
    margin: 0;
}

.aside img {
    width: 75%;
    border-radius: 50%;
}

.content {
    background: #ffffff;
    padding: 20px;
    flex: 5;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 36px;
}

ul {
    padding-left: 40px;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}